<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Ember Starter Kit</title>
	<link rel="stylesheet" href="css/styles.css">
</head>

<body>
	<script type="text/x-handlebars">
		<h2>Welcome to Ember.js</h2> {{outlet}}
	</script>

	<script type="text/x-handlebars" id="index">
		<ul>
			{{#each item in model}}
			<li>{{item}}</li>
			{{/each}}
		</ul>
	</script>

	<script src="js/libs/jquery-1.10.2.js"></script>
	<script src="js/libs/ember-template-compiler-1.10.0.js"></script>
	<script src="js/libs/ember-1.10.0.js"></script>
	<script src="js/app.js"></script>
</body>

</html>
